<form action="/login/create" method="post">
  <p>
  <h1>邮箱</h1>
  <input type="text" name="mail"/>
  </p>
  <p>
  <h1>密码</h1>
  <input type="password" name="password"/>
  </p>

  <p>
    <input type="submit" value="提交"/>
  </p>
</form>