.icspblock table.msctab {
	border-collapse:collapse;
	border:1px solid #fadce6
}
.icspblock table.msctab td {
	border:1px solid #fadce6
}
.icspblock table.tab04 td {
	border:0;
	border-bottom:1px dashed #fadce6;
	padding:15px 0
}
.icspblock {
	border-bottom:dashed 1px #ccc;
	padding-bottom:15px
}
.ddtit {
	font-weight:
}
.icspblock table.msctabfan {
	border:0
}
.icspblock table.msctabfan td {
	border:0
}
.icspblock table.msctabfan td.manjian {
	padding:0;
	height:27px;
	background:#fffce3;
	line-height:27px;
	color:#f4349b
}
.icspblock table.msctabfan td.manjian span {
	display:block;
	float:left;
	width:43px;
	height:27px;
	margin-right:4px;
	background:url(../images/cartpromico.png) no-repeat;
	color:#fff;
	text-indent:4px
}
.ztit {
	font-size:21px
}
.block_wrap_f {
	width:247px;
	height:196px;
	position:relative;
	margin:0 15px 20px 0
}
.brand .block {
	padding:3px;
	border:solid 1px #eee;
	margin:0
}
.brand .block .tit {
	background:#efefef;
	color:#333
}
.block_wrap_f .block {
	margin-bottom:5px
}
.brand .current {
	border:dashed 1px #f34fa1;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	z-index:9
}
.brand_te_f {
	line-height:22px;
	text-align:center;
	font-size:14px
}
.mysp .order_gift {
	display:inline-block;
	padding:2px 4px 4px;
	color:#fff;
	background:green;
	border-radius:5px
}
.temai_name {
	padding:2px 0;
	color:#333;
	line-height:20px
}
.temai_name p {
	display:block;
	margin:2px 4px;
	padding:0 2px;
	border-bottom:dashed 1px #f2f2f2
}
.temai_name p:last-child {
	border:0
}
.temai_none {
	display:none
}
.collect_tab {
	width:100%;
	overflow:visible;
	border:solid 1px #ddd;
	border-bottom:0;
	border-right:0
}
.collect_tab th {
	height:30px;
	background:#efefef;
	line-height:35px;
	text-align:center;
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	color:#555
}
.collect_tab th.collect_name {
	width:60%
}
.collect_tab th.collect_price {
	width:20%
}
.collect_tab th.collect_opera {
	width:20%
}
.collect_tab td {
	position:relative;
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	padding:8px 5px;
	text-align:center
}
.collect_tab td.coll_name {
	text-align:left
}
.coll_img {
	width:50px;
	margin-right:10px
}
.coll_right {
	width:400px
}
.coll_right p {
	line-height:22px;
	padding-bottom:3px
}
.coll_right p span.goods_size {
	display:inline-block;
	width:60px;
	float:left
}
.coll_right p span.size_content_f {
	display:inline-block;
	width:300px;
	float:left
}
.collect_size {
	display:inline-block;
	padding:0 10px;
	border:solid 1px #eee;
	line-height:22px;
	margin-right:5px
}
.coll_right p span.size_content_f a {
	margin-bottom:5px
}
.coll_cur {
	border:solid 1px #fc62af;
	color:#fc62af
}
.coll_right p span.size_content_f select {
	padding:2px
}
.collect_tab td a.coll_join {
	display:block;
	width:98px;
	margin:10px auto auto;
	background:url(../images/mycoll.png);
	border-radius:5px;
	color:#fff;
	height:28px;
	line-height:28px
}
.collect_tab td a.coll_nogoods {
	display:block;
	width:98px;
	margin:10px auto auto;
	background:#eee;
	border-radius:5px;
	color:#999;
	height:28px;
	line-height:28px
}
.collect_tab td a.coll_del {
	line-height:30px;
	color:#056fb8
}
.collect_tab td a.coll_tobuy {
	color:#ff69b4
}
.addCartOk {
	width:120px;
	height:30px;
	background:#9c9;
	color:#fff;
	position:absolute;
	top:17px;
	left:18px;
	font:bold 12px/30px "宋体";
	z-index:999
}
.addCartErr {
	width:98px;
	height:28px;
	background:#fffde7;
	color:#f67649;
	border:solid 1px #fedbb1;
	position:absolute;
	top:17px;
	left:28px;
	font:normal 12px/26px "宋体";
	z-index:19
}
.addCartErr01 {
	width:78px;
	height:22px;
	background:#fffde7;
	color:#f67649;
	border:solid 1px #fedbb1;
	position:absolute;
	top:5px;
	left:55px;
	font:normal 12px/22px "宋体";
	z-index:19
}
.coll_suit {
	margin-top:2px
}
.coll_suit .goods {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}
.coll_suit .goods li {
	position:relative;
	margin-right:15px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	width:40px;
	height:40px;
	border:1px solid #fff
}
.coll_suit .goods li.hover {
	border-color:#ff69b3
}
.coll_suit .goods li img {
	width:40px;
	height:40px
}
.coll_suit .goods li em {
	position:absolute;
	right:0;
	bottom:0;
	padding:0 .3em;
	border:1px solid #ccc;
	border-radius:1em;
	background-color:#fff
}
.coll_suit .goods .tips {
	display:none;
	position:absolute;
	left:-1px;
	bottom:49px;
	text-align:center;
	padding:3px 10px;
	border:1px solid #ff69b3;
	border-radius:2px;
	background-color:#fff;
	z-index:5;
	word-wrap:break-word;
	white-space:nowrap;
	line-height:1.5
}
.coll_suit .goods li.hover .tips {
	display:block
}
.coll_suit .goods .tips i {
	position:absolute;
	display:block;
	bottom:-7px;
	left:50%;
	margin-left:-8px;
	width:15px;
	height:7px;
	background:url(../images/suit.png) -100px 0 no-repeat
}
#orderList table.outer {
	margin-bottom:8px
}
#orderList table tr th {
	background:#e8e8e8;
	color:#000
}
#orderList table tr td {
	padding:0
}
#orderList table tr .mysp {
	margin:0 auto
}
#orderList .orderListHead {
	height:20px
}
#orderList .orderListHead th {
	background:#fcf;
	padding:8px 10px
}
#orderList .icspblock {
	border-bottom:dashed 1px #ccc;
	padding-bottom:6px
}
.icspblock table.tab04 td {
	border-bottom:solid 1px #fadce6
}
.basicInfo {
	padding-top:3px
}
#orderList .payNow {
	background:none repeat scroll 0 0 #f450a2;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	font-size:14px;
	font-weight:600;
	height:20px;
	line-height:20px;
	margin-left:5px;
	padding:3px 6px;
	text-align:center;
	text-decoration:none;
	width:50px
}
#orderList .orderList_tr .listSize {
	padding-right:20px
}
#orderList .orderList_tr .listNum {
	float:left
}
#orderList .notice_yellow td {
	background:#ff9;
	color:#666;
	padding:0 10px;
	line-height:30px
}
#orderList .order_child th {
	background:#fdf1f5;
	color:#666;
	padding:0;
	line-height:30px;
	padding-left:30px
}
#orderList .order_child th span {
	font-weight:normal
}
#orderList .orderList_tr .o_child {
	padding:10px 35px
}
.corder_childtd {
	width:350px;
	position:relative
}
