@charset "UTF-8";
	body {
	background-color:#f9f9f9
}
.nfFocus {
	position:relative;
	overflow:hidden;
	height:343px
}
.nfFocus ul {
	width:800%
}
.nfFocus li {
	float:left;
	height:343px;
	width:100%;
	background-repeat:no-repeat
}
.nfFocus li.cell {
	display:none;
	position:absolute
}
.nfFocus li.cur {
	display:block
}
.nfFocus li a {
	display:block;
	width:744px;
	height:100%;
	position:absolute;
	left:50%;
	margin-left:-500px
}
.nfFocus li div {
	display:block;
	width:100%;
	height:100%;
	background-position:center top;
	background-repeat:no-repeat
}
.nfFocus .onBlock {
	position:absolute;
	top:0;
	left:50%;
	margin-left:244px;
	width:256px
}
.nfFocus .onBlock img {
	vertical-align:top
}
.nfFocus .pointbox {
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-500px;
	width:744px;
	height:20px;
	text-align:center
}
.nfFocus .point {
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:20px;
	padding-left:10px;
	background:url(../images/nf_ele.png) left -20px no-repeat;
	z-index:10
}
.nfFocus .point>span {
	float:left;
	position:relative;
	left:-1px;
	padding-right:3px;
	height:20px;
	line-height:20px;
	background:url(../images/nf_ele.png) right top no-repeat
}
.nfFocus .point i {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:7px;
	width:12px;
	height:20px;
	background:url(../images/diapers/nf_ele.png) -144px -20px no-repeat;
	cursor:pointer
}
.nfFocus .point i:hover,.nfFocus .point i.cur {
	background-position:-164px -20px
}
.nfFocus .leftAr:link,.nfFocus .rightAr:link {
	display:none;
	position:absolute;
	top:150px;
	width:33px;
	height:54px;
	cursor:pointer;
	background:url(../images/index_j_btn.png) no-repeat;
	z-index:27
}
.nfFocus .leftAr:link {
	left:0
}
.nfFocus .rightAr:link {
	right:0;
	background-position:right 0
}
.promSeciton {
	position:relative;
	margin-top:-97px;
	z-index:27
}
.nfFocus .arNav {
	position:relative;
	z-index:27
}
.nfFocus .arNav .w1004 {
	position:relative;
	width:744px;
	position:absolute;
	left:50%;
	margin-left:-500px
}
.nfFilt {
	position:fixed;
	top:0;
	z-index:100;
	background:#f9f9f9;
	width:1000px
}
.nfFilt .filtBox {
	margin:5px 0 0 0
}
.nfBar {
	display:none
}
.nfBox {
	height:138px !important;
	overflow:hidden
}
.nfLogo {
	height:105px;
	overflow:hidden;
	position:relative
}
.filtBox {
	margin:15px 0 20px 0;
	background-color:#fff;
	border:1px solid #f2f2f2
}
.filtBox dl {
	padding:15px 0;
	border-bottom:1px solid #f2f2f2;
	overflow:hidden;
	*zoom:1
}
.filtBox dt {
	float:left;
	padding:0 25px;
	width:80px;
	color:#666
}
.filtBox dd {
	float:left;
	width:860px
}
.filtBox .brand dt {
	padding:10px 25px
}
.filtBox .brand-logo {
	float:left;
	padding-bottom:2px;
	width:760px
}
.filtBox .brand-logo img {
	vertical-align:top
}
.filtBox .brand-logo .bitem {
	position:relative;
	float:left;
	margin:0 -1px -1px 0;
	border:1px solid #f2f2f2;
	width:106px;
	height:52px
}
.filtBox .brand-logo .bitem img {
	width:100%
}
.filtBox .brand-logo .bitem .txt {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	background-color:#ff69b4;
	color:#fff;
	cursor:default
}
.filtBox .brand-logo .bitem .txt p {
	position:relative;
	top:50%;
	margin-top:-16px;
	height:32px;
	overflow:hidden
}
.filtBox .brand-logo .bitem .txt .f14 {
	font-size:14px;
	font-family:tahoma
}
.filtBox .brand-logo .bitem.hover .txt {
	display:block;
	cursor:pointer
}
.filtBox .brand-more {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:6px;
	padding:0 18px 0 10px;
	border:1px solid #d5d5d5;
	height:24px;
	line-height:24px;
	float:right;
	background:url(../images/nf_ele.png) 3.2em -40px no-repeat;
	cursor:pointer
}
.filtBox .brand-more:hover {
	color:#666
}
.filtBox .brand-more.cur {
	background-position:3.2em -64px
}
.weightbg {
	position:relative;
	padding-left:5px
}
.weightbg>div {
	float:left;
	padding-top:16px
}
.weightLine {
	position:relative;
	width:320px;
	height:6px;
	margin:0 5px;
	padding-top:21px !important
}
.weightLine .nat {
	background:url(../images/weightline.gif) no-repeat 0 0;
	height:6px;
	width:320px;
	position:absolute;
	left:0;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.weightLine .cross {
	background:url(../images/weightline.gif) no-repeat 0 -6px;
	height:6px;
	width:0;
	position:absolute;
	left:0;
	z-index:100;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.weightGrag {
	position:absolute;
	top:0;
	left:0;
	z-index:111;
	cursor:e-resize
}
.weightGrag div {
	width:20px;
	height:14px;
	font-size:12px;
	font-family:tahoma;
	font-weight:bold;
	color:#ff69b4
}
.weightGrag i {
	background:url(../images/weightgrag.png) no-repeat;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:20px;
	height:20px
}
.filtBar {
	padding:12px;
	border:1px solid #e9e9e9;
	background-color:#fff;
	width:975px;
	margin-left:-1px
}
.filtBar .sbtn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	margin:0 5px;
	padding:0 15px;
	height:26px;
	line-height:26px;
	border:1px solid #e6e6e6;
	color:#666;
	cursor:pointer
}
.filtBar .sbtn i {
	display:none;
	vertical-align:-4px;
	*vertical-align:-1px;
	margin-left:3px;
	width:12px;
	height:16px;
	background:url(../images/nf_ele.png) -20px -44px;
	no-repeat
}
.filtBar .sbtn.cur {
	border-color:#ff69b4;
	background-color:#ff69b4;
	color:#fff
}
.filtBar .sbtn.cur i {
	background-position:-20px -68px;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.filtBar .sbtn.cur i.asc {
	background-position:-82px -44px;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.filtBar .checkbox {
	margin-left:30px
}
.filtBar input.goods {
	margin-right:3px;
	vertical-align:-3px;
	*vertical-align:-2px
}
.filtBar .rt {
	float:right;
	margin-right:10px;
	line-height:28px
}
.filtBar .rt em {
	font-style:normal;
	color:#ff69b4;
	font-family:Arial;
	font-size:14px
}
.filtBar .filtmore {
	margin:0 6px 0 15px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 20px 0 10px;
	border:1px solid #d5d5d5;
	height:24px;
	line-height:24px;
	background:url(../images/nf_ele.png) 5.2em -40px no-repeat;
	cursor:pointer
}
.filtBar .filtmore:hover {
	color:#666
}
.filtBar .filtmore.cur {
	background-position:5.2em -64px
}
.filtBox dd>a {
	margin:0 15px 0 5px
}
.znkWrap {
	width:1000px;
	margin:0 auto;
	margin-bottom:25px
}
.znkCon {
	margin-top:20px;
	position:relative;
	*zoom:1;
	background-color:#fff
}
.znkTitle {
	width:100%;
	height:55px;
	background:url(../images/aafe7aa5c0db09b39a2718d570ea45a5.png) no-repeat;
	background-color:#f9f9f9
}
.znkTitle em {
	margin-left:5px;
	font-style:normal;
	font-size:22px
}
.znkList {
	border-top:0;
	padding-left:6px
}
.znk_hw .znkList {
	border:1px solid #ff9ee2
}
.znk_ynj .znkList {
	border:1px solid #9cc7f7
}
.znk_dw .znkList {
	border:1px solid #97daf9
}
.znk_hq .znkList {
	border:1px solid #fd8888
}
.znk_bbs .znkList {
	border:1px solid #7bd1d1
}
.znk_lbl .znkList {
	border:1px solid #b1d6eb
}
.znk_blbb .znkList {
	border:1px solid #c0b3e7
}
.znk_mmbb .znkList {
	border:1px solid #f9c882
}
.znk_ayst .znkList {
	border:1px solid #cddd9b
}
.znk_bb .znkList {
	border:1px solid #aadce3
}
.znk_lacute .znkList {
	border:1px solid #60d1f7
}
.znk_Chiaus .znkList {
	border:1px solid #62d5d7
}
.znk_hw .brand_ti {
	background-position:0 0
}
.znk_ynj .brand_ti {
	background-position:0 -55px
}
.znk_dw .brand_ti {
	background-position:0 -110px
}
.znk_hq .brand_ti {
	background-position:0 -165px
}
.znk_bbs .brand_ti {
	background-position:0 -220px
}
.znk_lbl .brand_ti {
	background-position:0 -275px
}
.znk_blbb .brand_ti {
	background-position:0 -330px
}
.znk_mmbb .brand_ti {
	background-position:0 -385px
}
.znk_ayst .brand_ti {
	background-position:0 -445px
}
.znk_bb .brand_ti {
	background-position:0 -500px
}
.znk_lacute .brand_ti {
	background:url(../images/a5c69398cdaf452ff81cb4e2c9003427.jpg)
}
.znk_Chiaus .brand_ti {
	background:url(../images/1d29f5a3fd587f8c6ca36a3167732b19.png)
}
.chTitle {
	width:998px;
	height:38px;
	line-height:38px;
	margin-left:-6px;
	font-family:"Microsoft YaHei"
}
.chTitle .tt1 {
	font-size:22px;
	margin-left:20px
}
.chTitle .tt2 {
	font-size:18px;
	margin-left:10px
}
.chTitle_dw {
	background-color:#f1fbff;
	border-bottom:1px solid #d5e2f7;
	color:#1e6daa
}
.chTitle_hq {
	background-color:#fff1f3;
	border-bottom:1px solid #fac9d0;
	color:#dc1115
}
.chTitle_bbs {
	background-color:#e1fbfb;
	border-bottom:1px solid #c6eeee;
	color:#067571
}
.znkItem {
	position:relative;
	width:232px;
	height:364px;
	float:left;
	background-color:#fff;
	padding:5px;
	margin-right:6px
}
.znkPic {
	width:232px;
	height:232px
}
.znkSc {
	background:url(../images/nfsalecount.gif) no-repeat;
	width:174px;
	height:25px;
	margin:0 auto;
	color:#949494;
	text-align:center;
	line-height:24px
}
.znkSc .f12 {
	font-size:12px;
	margin-left:3px
}
.znkSc .f14 {
	font-size:14px
}
.znkSn {
	background:url(../images/nfsalenew.gif) no-repeat;
	width:174px;
	height:25px;
	margin:0 auto;
	color:#fff;
	text-align:center;
	line-height:24px
}
.znkPrice {
	padding:6px 10px 0 10px;
	color:#ff69b4
}
.znkPrice .nfp1 {
	font-size:16px
}
.znkPrice .nfp2 {
	font-size:20px
}
.znkPrice .nfp3 {
	color:#b3b3b3;
	font-size:12px
}
.znkPrice .nfp4 {
	color:#b3b3b3;
	font-size:12px;
	text-decoration:line-through
}
.znkDes {
	padding:6px 10px 0 10px;
	line-height:20px;
	height:40px;
	overflow:hidden
}
.znkDes .disc {
	color:#ff69b4;
	font-size:16px
}
.saleout {
	width:111px;
	height:109px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-94px 0 0 -55px;
	overflow:hidden;
	z-index:20;
	background:url(../images/saleout.png) no-repeat
}
.nfList {
	border-top:2px solid #c1c1c1;
	border-left:1px solid #e8e8e8;
	margin-right:-1px
}
.nfShow>img {
	width:249px;
	height:364px
}
.nfShow,.nfItem {
	position:relative;
	margin-left:-1px;
	width:249px;
	height:364px;
	border:1px solid #e8e8e8;
	border-width:0 1px 1px 1px;
	float:left;
	background-color:#fff
}
.nfItem:hover {
	position:relative;
	box-shadow:0 0 13px #d4d4d4;
	z-index:1
}
.nfPic {
	width:232px;
	height:232px;
	margin:0 8px 8px 8px
}
.nfSc {
	background:url(../images/nfsalecount.gif) no-repeat;
	width:174px;
	height:25px;
	margin:0 auto;
	color:#949494;
	text-align:center;
	line-height:24px
}
.nfSc .f12 {
	font-size:12px;
	margin-left:3px
}
.nfSc .f14 {
	font-size:14px
}
.nfSn {
	background:url(../images/nfsalenew.gif) no-repeat;
	width:174px;
	height:25px;
	margin:0 auto;
	color:#fff;
	text-align:center;
	line-height:24px
}
.nfSn.nfSnHide {
	background:0;
	font-size:0;
	text-indent:-999em;
	overflow:hidden
}
.nfPrice {
	margin:10px 0 5px 20px;
	color:#ff69b4
}
.nfPrice .nfp1 {
	font-size:16px
}
.nfPrice .nfp2 {
	font-size:24px
}
.nfPrice .nfp3 {
	color:#b3b3b3;
	font-size:12px;
	text-decoration:line-through;
	margin-left:8px
}
.nfDes {
	margin:0 20px 0 20px;
	line-height:20px;
	height:40px;
	overflow:hidden
}
.filtTerm {
	border:1px solid #f2f2f2;
	border-top:0;
	margin:0 0 15px 0;
	background-color:#fff;
	margin-top:-1px
}
.filtTerm dl {
	padding:15px 0;
	border-bottom:1px solid #f2f2f2;
	overflow:hidden;
	*zoom:1
}
.filtTerm dt {
	float:left;
	padding:0 25px;
	width:80px;
	color:#666
}
.filtTerm dd {
	float:left;
	width:860px
}
.nflBox {
	margin:15px 0 0 0
}
.nfctop {
	border-top:1px solid #e8e8e8;
	margin-top:15px
}
.setitle {
	line-height:22px
}
.seterm {
	border:1px solid #e8e8e8;
	height:22px;
	display:inline-block
}
.seterm span {
	padding:5px;
	display:inline-block;
	float:left;
	cursor:pointer
}
.seterm i {
	background:url(../images/listbtn.png) -10px -0 no-repeat;
	width:12px;
	height:22px;
	margin:0 5px;
	display:inline-block;
	cursor:pointer
}
.seterm-on {
	border:1px solid #ff69b4;
	height:22px;
	display:inline-block
}
.seterm-on span {
	padding:5px;
	display:inline-block;
	float:left;
	cursor:pointer
}
.seterm-on i {
	background-color:#ff69b4;
	background:url(../images/listbtn.png) no-repeat -28px 0;
	width:22px;
	height:22px;
	display:inline-block;
	cursor:pointer
}
.seterm:hover,.seterm-on:hover {
	color:#666
}
.sedot {
	display:inline-block;
	background:url(../images/listbtn.png) no-repeat 0 0;
	width:10px;
	height:22px;
	margin:0 5px
}
.sedelall {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:6px;
	padding:0 10px 0 10px;
	border:1px solid #d5d5d5;
	height:24px;
	line-height:24px;
	float:right;
	cursor:pointer
}
.sedelall:hover {
	color:#666
}
.pager {
	padding:30px 0;
	text-align:center
}
.pager a {
	display:inline-block;
	*display:inline;
	*zoom:1;
	background-color:#fff;
	border:1px solid #e6e6e6;
	padding:8px;
	min-width:16px;
	text-align:center;
	margin:0 5px
}
.pager a.selected {
	background-color:#ff69b4;
	color:#fff
}
.zkmore {
	position:absolute;
	right:8px;
	top:18px;
	width:90px;
	height:32px;
	background-repeat:no-repeat;
	vertical-align:middle;
	line-height:32px;
	text-align:center
}
.zkmore_hw {
	background:url(../images/more_hw.png)
}
.zkmore_hw a {
	color:#d546aa
}
.zkmore_ynj {
	background:url(../images/more_ynj.png)
}
.zkmore_ynj a {
	color:#3974bc
}
.znkWrap .znkSc,.znkWrap .nfSc {
	background:0;
	overflow:hidden
}
.znkWrap .znkSc *,.znkWrap .nfSc * {
	font-size:0;
	text-indent:-999em
}
.znkWrap .znkSn,.znkWrap .nfSn {
	background:0;
	overflow:hidden
}
.znkWrap .znkSn *,.znkWrap .nfSn * {
	font-size:0;
	text-indent:-999em
}
